* {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.header {
  background-color: #061521;
  color: #eeeeee;
}

.navbar {
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.navbar-links {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

.header-body {
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
  gap: 16px;
  justify-content: space-around;
  overflow: hidden;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.sign-up {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

.hb-left,
.hb-right {
  max-width: calc(50% - 100px + 16px * 2);
  min-width: 300px;
  height: 250px;
  max-height: 250px;
}

.hb-img {
  max-width: auto;
  height: 100%;
}

.hb-right {
  overflow: hidden;
}
